[role="tooltip"] {
    visibility: hidden;
}

#person_info_table {
    margin: 0 auto;
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 15px;
}

    #person_info_table thead {
        background: #c9dff0;
    }

        #person_info_table thead tr th {
            font-weight: bold;
            padding: 12px 30px;
            padding-left: 42px;
            text-align: center;
        }

            #person_info_table thead tr th span {
                padding-right: 20px;
                background-repeat: no-repeat;
                background-position: 100% 100%;
            }

            #person_info_table thead tr th.headerSortUp, #person_info_table thead tr th.headerSortDown {
                background: #acc8dd;
            }

    #person_info_table tbody tr {
        color: #555;
    }

        #person_info_table tbody tr td {
            text-align: center;
            padding: 15px 10px;
            max-width: 300px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

            #person_info_table tbody tr td.lalign {
                text-align: left;
            }

            #person_info_table tbody tr td.no_wrap {
                white-space: normal;
            }

            #person_info_table tbody tr td img.avatar {
                height: 50px;
                width: 50px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                transition: transform .2s ease-in-out;
                -webkit-transition: transform .2s ease-in-out;
                -moz-transition: transform .2s ease-in-out;
                -ms-transition: transform .2s ease-in-out;
                -o-transition: transform .2s ease-in-out;
            }

                #person_info_table tbody tr td img.avatar:hover {
                    transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                }
