#uploading-container {
    background-color: #19bee1;
    height: 100%;
}

#photo-upload-box {
    text-align: center;
}

#logo-section {
    left: 0px;
    right: 0px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background-image: url("Images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#logo-section-cover {
    position: relative;
    left: 0px;
    right: 0px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#cover-top {
    height: 10%;
}

.cover-middle {
    height: 5%;
}

#cover-description {
    text-align: center !important;
    width: 100%;
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Web",Tahoma,"Helvetica Neue",Helvetica,"Meiryo UI",Meiryo,"Arial Unicode MS",sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 200;
    color: #fff;
}

#uploading-section {
    left: 0px;
    right: 0px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin-top: 60px;
    background-color: #19bee1;
    background-position: 50% 50%;
    display: none;
}

#upload-circular {
    display: none;
}

#upload-control {
    display: none;
}

#preview-pane {
    position: absolute;
    right: -160px;
    z-index: 1;
    display: block;
    border: 1px #000 solid;
}

    #preview-pane .preview-container {
        overflow: hidden;
    }

.upload-progress {
    border: 1px #bbb solid;
    padding: 0;
}

.upload-percent-value {
    padding-left: 10px;
    position: absolute;
}

.upload-percent-bar {
    background-color: #bbb;
    height: 20px;
}

#signup-section {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

#signup-link {
    display: inline-block;
    margin: 15px 8px;
    background-color: #7fba00;
    border-color: #7fba00;
    text-decoration: none;
    color: #FFF;
    border-width: 2px;
    font-size: 18px;
    max-width: none;
    font-weight: 500;
    padding: 5px 10px 7px 13px;
    width: auto;
    border-radius:50px;;
    border-style: solid;
    cursor: pointer;
    height: 100%;
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Web",Tahoma,"Helvetica Neue",Helvetica,"Meiryo UI",Meiryo,"Arial Unicode MS",sans-serif;
    -webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
    transition: color .2s ease-in-out, transform .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, transform .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, transform .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, transform .2s ease-in-out;
    -o-transition: color .2s ease-in-out, transform .2s ease-in-out;
}

    #signup-link:hover {
        background-color: #70a304;
        border-color: #70a304;
        transform: scale(1.1);
    }

#signup-link-img {
    margin-left: 3px;
    margin-bottom: 2px;
    width: 18px;
    height: 18px;
}
