@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/scan")
@Scripts.Render("~/bundles/loadgo")
@Styles.Render("~/Content/scan")


<div id="scan_container">
    <div id="uploaded_preview">
        <div id="preview_img_container">
            <img id="preview_img" src="@ViewBag.fileName" />
        </div>
    </div>
    <div id="uploaded_options">
        <svg class="hidden">
            <defs>
                <clipPath id="clipBox" clipPathUnits="objectBoundingBox">
                    <polygon points="0,0 0,1 0.35,1 0.35,0.6 0.65,0.6 0.65,1 1,1 1,0" />
                </clipPath>
            </defs>
        </svg>
        <div id="scan_progress">0%</div>
        <div id="buttons_container" class="box bg-1">
            <button id="scan_button" class="custom-button custom-button--itzel custom-button--text-thick"><i class="custom-button__icon icon icon-printer"></i><span>Start Scaning</span></button>
            <button id="upload_button" class="custom-button custom-button--itzel custom-button--text-thick"><i class="custom-button__icon icon icon-home"></i><span>Return Home</span></button>
        </div>
    </div>
</div>