
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/about")
@Styles.Render("~/Content/about")

<h1>About Us</h1>

<div id="pricing">
    <div class="price_card dodger">
        <div class="header">
            @*<span class="price">EY</span>*@
            <img class="avatar" src="~/ImageSource/ericyi.jpg" />
            <span class="name">Eric Yi</span>
        </div>
        <ul class="features">
            <li>Support Engineer, APGC Exchange Team, ASG</li>
            <li>Website Engineer</li>
            <li>ASP.NET, SQL Admin</li>
        </ul>
        <span class="tip">* Eric Yi</span>
    </div>
    <div class="price_card dodger">
        <div class="header">
            @*<span class="price">BL</span>*@
            <img class="avatar" src="~/ImageSource/boyli.jpg" />
            <span class="name">Boyi Li</span>
        </div>
        <ul class="features">
            <li>Support Engineer, APGC Exchange Team, ASG</li>
            <li>Frontend Engineer</li>
            <li>HTML, Css, Javascript</li>
        </ul>
        <span class="tip">* Boyi Li</span>
    </div>
</div>