
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>:( Something Happened</h2>
<p>Sorry we met the error, please try later. Click @Html.ActionLink("here", "Index", "Upload") back.</p>

